name: "Send Mail After workflow"

on:
    workflow_dispatch: 

jobs:
    send_email:
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout code"
              uses: actions/checkout@v2
            
            - name: "Setup Python env"
              uses: actions/setup-python@v2
              with:
                  python-version: "3.x"
            
            - name: "Install dependencies"
              run: |
                  python -m pip install --upgrade pip
            
            - name: "Send email by executing script"
              env:
                  SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
                  SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}
                  RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
                  WORKFLOW_NAME: ${{ github.workflow }}
                  REPO_NAME: ${{ github.repository }}
                  WORKFLOW_RUN_ID: ${{ github.run_id }}
              run: |
                  python script.py
